
#CanvasArea {
  h1 {
    text-align: center;
  }
  canvas {
    display: block;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
    border: 1px black solid;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
